<div class="">
    <div class="card mt-4 shadow">
        <div class="card-body mt-2">
            <form action="productosAdd" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" name="idProducto" class="form-control" id="floatingInput"
                        placeholder="id producto">
                    <label for="floatingInput">ID Producto</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" name="nombreProducto" class="form-control" id="floatingInput"
                        placeholder="nombre producto">
                    <label for="floatingInput">Nombre producto</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" name="stock" class="form-control" id="floatingInput"
                        placeholder="cantidad stock">
                    <label for="floatingInput">Cantidad de stock</label>
                </div>

                <div class="form-floating mb-3">
                    <input ttype="number" name="precio" class="form-control" id="floatingInput"
                        placeholder="precio producto">
                    <label for="floatingInput">Precio $</label>
                </div>

                <div class="form-floating mb-3">
                    <input ttype="number" name="activo" class="form-control" id="floatingInput" placeholder="activo">
                    <label for="floatingInput">Activo</label>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Foto</label>
                    <input type="file" name="foto" class="form-control" id="inputGroupFile01">
                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <input type="submit" name="opcion" value="Agregar" class="btn btn-primary">
                </div>

            </form>

        </div>
    </div>




    <div id="idMensajes">

        {% if mensaje%}

        <div class="alert alert-success mt-4" role="alert">
            {{mensaje}}
        </div>

        {% endif %}

    </div>
</div>