{% extends 'app/mantenedor.html' %}
{%load static%}
{%block mantenedor%}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <div class="card" style="width: 500px;">
            <div class="card-body">
                <form method="post" action="">

                    {% csrf_token %}

                    {{form}}
                    <br>

                    <button type="submit" class="btn btn-primary">Registrate</button>

                </form>
            </div>
        </div>

    </div>
</div>
{%endblock%}