{% extends 'app/base.html' %}

{%load static%}

{%block title%}
<title>Tienda</title>
{%endblock%}

{% block content %}

<div class="conteiner-xxl">
    <div class="container-xxl">
        <br>
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tienda</li>
            </ol>
        </nav>
    </div>

    <h3 class="container fw-bold">Encuentra el producto perfecto para tu mascota</h3>
    <div class="container">
        {%include 'app/paginator.html'%}
    </div>
    <div class="container mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {%for p in entity%}
            <div class="col">
                <div class="card h-100"
                    style="background-color: white; border-style: solid; border-color: rgba(192, 192, 192, 0.178);">

                    <img src="{{p.foto.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <span
                            class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-dark rounded-pill">
                            <a href="{% url 'detail'  pk=p.idProducto %}" class="nav-link"><span
                                    class="material-icons md-36">&#xe5e1;</span></a>
                        </span>
                        <h5 class="card-title"><strong>{{p.nombreProducto}}</strong></h5>
                        <h2 class="card-title"><strong>${{p.precio}}</strong></h2>
                        <div class="row align-items-end pb-2">
                            <div class="col text-end">
                                Cantidad en stock
                            </div>
                            <div class="col">
                                {{p.stock}} unidad(es)
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {%endfor%}

        </div>
    </div>


</div>


{% endblock %}